@import "tailwindcss";

/* กำหนดกับทุก scrollbar */
::-webkit-scrollbar {
  width: 8px;
  /* ความกว้าง */
  height: 8px;
  /* ความสูง (เวลาเป็นแนวนอน) */
}

::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  /* ฟ้า (Tailwind blue-500) */
  border-radius: 9999px;
  /* โค้ง */
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  /* เทา (Tailwind gray-200) */
}

/* สำหรับ Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b3b3b3#ffffff;
  /* thumb track */
}


@font-face {
  font-family: ibm;
  src: url(./assets/font/IBM_Plex_Sans_Thai/IBMPlexSansThai-Medium.ttf);
}



@theme {
  --font-ibm: ibm;
  --text-title-1: 64px;
  --text-title-2: 48px;
  --text-title-3: 32px;
  --text-description-1: 24px;
  --text-description-2: 22px;
  --text-description-3: 20px;
  --color-gray-1: #C2C2C2;
  --color-golden-1: #D4903B;
  --color-blue-1: #04185C;
  --color-blue-2: #16224B;
  --color-blue-3: #050326;
  --color-blue-3: #050326;
  --color: var(--color-blue-1);
}

@layer base {
  * {
    @apply box-border font-ibm scroll-smooth touch-manipulation
  }

  html {
    scrollbar-gutter: stable;
  }

  details:hover {
    @apply cursor-pointer
  }


}

@layer utilities {

  input,
  textarea {
    @apply p-2 rounded-lg border border-gray-800
  }

  label {
    @apply font-bold p-2
  }

  .--btn {
    @apply active:text-golden-1 hover:text-golden-1 hover:cursor-pointer hover:md:scale-[1.1] active:scale-[.9] active:md:scale-[.99] transition-all duration-500 select-none
  }

  .active {
    @apply bg-radial to-black/10 from-0% duration-75 md:duration-600
    /* bg-gradient-to-tr from-blue-2 to-blue-1/80 */
    /* bg-gradient-to-tr from-blue-2 to-blue-1/80 text-white */
  }

  .show {
    @apply hidden bg-white
  }

  .--scroll-hide {
    scrollbar-width: none;
  }

  .--dragging {
    @apply brightness-50
  }


}